<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Projects</title>
</head>
<body>
    <h1>List of Mini Apps</h1>
    <ul>
        <li> 
            <a href="./Minesweeper/index.html" target="_blank">Minesweeper Game</a>
        </li>
        <li> 
            <a href="./BinaryConverter/convertor.html" target="_blank">Binary Convertor</a>
        </li>
        <li> 
            <a href="./github-profile/index.html" target="_blank">GitHub Profile Finder</a>
        </li>
        <li> 
            <a href="./stopwatch/stopwatch.html" target="_blank">Stopwatch</a>
        </li>
        <li> 
            <a href="./weather-app/index.html" target="_blank">Weather App</a>
        </li>
        <li> 
            <a href="./XORCipher/XORCipher.html" target="_blank">XOR Cipher</a>
        </li>
        <li> 
            <a href="./table-generator/basic/basic.html" target="_blank">Basic Table Generator</a>
        </li>
        <li> 
            <a href="./table-generator/basic/random.html" target="_blank">Random Table Generator</a>
        </li>
    </ul>
</body>
</html>